body {
    margin: 0;
    overflow: hidden;
    touch-action: none;
}

.static {
    cursor: not-allowed;
}

.draggable {
    cursor: move;
    touch-action: none;
}

.radio:hover {
    fill-opacity: .5;
    stroke: #444;
}

.check:hover {
    fill-opacity: .5;
    stroke: #444;
}

.button:hover {
    fill-opacity: .35;
    stroke: #555;
}